HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
NEXT_PUBLIC_STRAPI_URL=http://localhost:1337
STRAPI_URL = http://localhost:1337


# Mata Page Data
META_TITLE = "IND NO1 is a leading enterprise dedicated to delivering top-tier gaming experiences specifically tailored for the Indian market."
META_KEYWD = "Trusted Gaming, Betting Website, India,India No 01, Entertainment, Gaming Experiences, iGaming, betting app, betting exchange,betting exchange app, betting exchange login, online betting app, cricket betting, sport betting"
META_DISCRP = "IND NO1 is a leading enterprise dedicated to delivering top-tier gaming experiences specifically tailored for the Indian market."
META_GGTAG = "zUiqPXfp8HqGluXdEn54TLZzkqpVLD7EGRL5Am_1pTA"
